div {
  display: block;
}
.App {
  margin: 10px;
}
.Weather {
  max-width: 500px;
  margin: 20px;
  margin-bottom: 0;
  margin-left: 0;
}
.weather-app {
  border-radius: 5px;
}

p {
  display: inline-flex;
  margin-left: 10px;
}
p img {
  margin: 10px;
  height: 64px;
  width: 64px;
}
p span {
  font-family: Roboto, arial, sans-serif;
  font-size: 60px;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  color: #70757a;
}
